$breakpoints: (
  xs:"only screen and (max-width: 320px)",
  s:"only screen and (max-width: 575px)",
  m:"only screen and (max-width: 767px)",
  l:"only screen and (max-width: 991px)",
  xl:"only screen and (max-width: 1199px)",
  xxl:"only screen and (max-width: 1259px)",
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

$color1: #0f4836;
$color2: #b4e345;
$color3: #ecf6d1;

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}

p {
  line-height: 1.6;
  font-size: 1rem;
}

.txt_ct {
  text-align: center;
}

.inner {
  width: 980px;
  margin: 0 auto;
  display: block;
  &.header_box {
    overflow: hidden;
    position: relative;
  }
}

@mixin navSet {
  text-decoration: none;
  font-size: 0.6875rem;
  display: block;
  padding: 0 15px 0 14px;
  line-height: 35px;
  &:last-child{
    padding-right: 0;
  }
}

@mixin ulBtn {
  margin: 15px 0 0;
  letter-spacing: -4em;
}

header {
  nav#header_nav {
    background-color: $color1;
    height: 35px;
    ul {
      li {
        display: inline-block;
        a {
          @include navSet;
          color: #ffffff;
          background: url(../lp_1/img/icon_arrow_green.gif) no-repeat 0 center transparent;
        }
      }
    }
  }
  #header_title {
    height: 75px;
    border-bottom: solid 1px $color2;
    margin-top: 15px;
    position: relative;
    a#logo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      img {
        max-width: 260px;
      }
    }
    #header_member {
      float: right;
      position: relative;
      input#box_search_text {
        background-color: #fff;
        border: solid 1px #ccc;
        border-right: none;
        height: 26px;
        line-height: 26px;
        width: 180px;
        padding: 0 10px;
        position: absolute;
        right: 65px;
        top: 0;
        left: auto;
        color: #999;
      }
      input#box_search_btn {
        border: 0;
        padding: 0;
        width: 65px;
        height: 26px;
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
      }
      ul {
        display: block;
        height: 28px;
        margin-left: auto;
        margin-top: 30px;
        // margin: 30px 0 0;
        li {
          display: inline-block;
          a {
            @include navSet;
            background: url(../lp_1/img/icon_arrow_red.gif) no-repeat 0 center transparent;
          }
        }
      }
    }
  }

  #hero {
    background-color: $color2;
    width: 100%;
    height: 314px;
    margin-top: 20px;
    padding: 10px 0;
    display: block;
    img {
      display: block;
    }
  }
  h1 {
    font-size: 2.5rem;
    color: #0288D1;
    margin-top: 60px;
    text-align: center;
    span.ft_s {
      font-size: 1.75rem;
    }
    + p {
      margin-top: 40px;
      text-align: center;
      font-size: 1rem;
      + p {
        width: 65%;
        border: solid 2px $color1;
        text-align: center;
        margin: 30px auto;
        font-size: 1.5rem;
        a {
          width: 100%;
          height: 100%;
          display: block;
          color: $color1;
          text-decoration: none;
          padding: 15px 0;
          position: relative;
          &::before {
          position: absolute;
          top: 50%;
          right: 25px;
          width: 12px;
          height: 12px;
          margin-top: -8px;
          transform: rotate(45deg);
          border: 0;
          border-top: solid 2px $color1;
          border-right: solid 2px $color1;
          content: '';
          }
          &:hover {
            background-color: $color2;
          }
        }
      }
    }
  }
  h2 {
    font-size: 1.6rem;
    margin-top: 70px;
    padding-left: 70px;
    padding-top: 20px;
    color: $color1;
    background-image: url(../lp_1/img/icon_service.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    vertical-align: middle;
    height: 57px;
  }
  ol {
    margin-top: 10px;
    // padding: 20px;
    letter-spacing: -.4em;
    counter-reset: item;
    li {
      font-size: 1rem;
      line-height: 1.4;
      display: inline-block;
      border-bottom: solid 1px $color1;
      border-left: solid 1px $color1;
      border-right: solid 1px $color1;
      letter-spacing: normal;
      width: 50%;
      height: 70px;
      vertical-align: top;
      position: relative;
      &:nth-child(odd) {
        border-right: none;
      }
      &:nth-child(1), &:nth-child(2) {
        border-top: solid 1px $color1;
      }
      &::before {
        counter-increment: item;
        content: counter(item)'.';
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        z-index: 30;
        color: $color1;
        font-size: 2rem;
        font-style: italic;
      }
      a {
        display: block;
        text-decoration: none;
        color: $color1;
        width: 100%;
        height: 100%;
        padding-left: 65px;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 75%;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 14px;
          border-top: solid 1px #ffffff;
          border-right: solid 1px #ffffff;
          transform: rotate(135deg) translateY(110%);
          width: 9px;
          height: 9px;
          z-index: 20;
        }
        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-color: $color1;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:hover {
          background-color: $color2;
        }
      }
      // &::before {
      //   content: counter(item)'.';
      // }
    }
  }
}



/*メインコンテンツ*/
main {
  margin-top: 80px;
  padding-bottom: 50px;
}

/*フッター*/
footer {
  background-color: $color2;
  height: 80px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  small {
    font-size: 0.75rem;
    display: block;
  }
}